.content {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(225, 225, 225, 0.2)
  );
  border-radius: 16px;
  color: white;
  height: 60em;
  margin-left: 0;
  width: 104em;
  margin-top: 8em;
  position: absolute;
  padding: 2px;
}

.content h1 {
  text-align: center;
  margin-bottom: 2em;
}
.content p {
  text-align: center;
  margin-bottom: 8em;
  font-size: 30px;
  color: lightblue;
}

#form {
  display: block;
  width: 17em;
  height: 12em;
  position: absolute;
  background-color: rgba(225, 225, 225, 0.85);
  padding: 32px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 50px;
  margin-left: 8em;
}

#form label {
  position: absolute;
  float: left;
  text-align: right;
  display: block;
  margin-top: 3px;
  margin-right: 10px;
}

#form select,
#form input {
  display: block;
  height: 35px;
  width: 160px;
  padding: 0 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 40em;
  color: #000000;
  font-size: 16px;
  font-variant: normal;
  line-height: normal;
  position: absolute;
}

#form textarea {
  position: absolute;
  height: 100px;
  width: 160px;
  padding: 8px 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 40em;
  color: #000000;
  font-size: 16px;
  font-variant: normal;
  line-height: normal;
}

#form span {
  position: absolute;
  display: block;
  text-align: center;
  font-style: italic;
  width: 160px;
  right: 20em;
  margin-top: 10em;
}

#form span :hover {
  background-color: aqua;
  cursor: pointer;
}
