.overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  margin-top: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay-img {
  padding-top: 1em;
}

#overlay-delete {
  padding-top: 35%;
}

#overlay-delete button {
  margin: 1em;
  border-radius: 1em;
}

#btn-delete-yes:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

#btn-delete-no:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.deleteWarning{
  color: aliceblue;
}
