.content {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(225, 225, 225, 0.2)
  );
  border-radius: 16px;
  color: lightblue;
  height: 60em;
  margin-left: 0;
  width: 78em;
  margin-top: 8em;
  position: absolute;
  padding: 8px;
}

.content h1 {
  text-align: center;
  margin-bottom: 8em;
}
.content p {
  text-align: center;
  margin-bottom: 8em;
  font-size: 30px;
  color: lightblue;
}

.side-content {
  float: right;
  width: 370px;
  position: absolute;
  background-color: none;
  padding: 0 8px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80em;
  margin-top: 8em;
}

.frontCart {
  background-color: rgba(225, 225, 225, 0.85);
  max-width: 95%;
  text-align: center;
  display: block;
  margin: 1em;
  border: white solid 2px;
  border-radius: 8px;
  padding-bottom: 1em;
}
.frontCart img {
  max-width: 95%;
  text-align: center;
  display: block;
  margin: auto;
  border: white solid 2px;
  border-radius: 8em;
  width: 16em;
  height: 16em;
}

.frontCart a {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  margin-top: 1em;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border: #000000 solid 1px;
  border-radius: 8px;
  background-color: white;
  color: purple;
}

.frontCart div :hover {
  background-color: blue;
  color: white;
}
