.content {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(225, 225, 225, 0.2)
  );
  border-radius: 16px;
  color: white;
  height: 60em;
  margin-left: 0;
  width: 104em;
  margin-top: 8em;
  position: absolute;
  padding: 2px;
}

.content h1 {
  text-align: center;
  margin-bottom: 2em;
}
.content p {
  text-align: center;
  margin-bottom: 8em;
  font-size: 30px;
  color: lightblue;
}

