.content {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(225, 225, 225, 0.2)
  );
  border-radius: 16px;
  color: white;
  height: 60em;
  margin-left: 0;
  width: 104em;
  margin-top: 8em;
  position: absolute;
  padding: 2px;
}

.content h1 {
  text-align: center;
  margin-bottom: 2em;
}

#form {
  display: block;
  width: 17em;
  height: 12em;
  position: absolute;
  background-color: rgba(225, 225, 225, 0.85);
  padding: 32px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 50px;
  margin-left: 8em;
}

#form label {
  position: absolute;
  float: left;
  text-align: right;
  display: block;
  margin-right: 10px;
}

#form input {
  display: block;
  height: 35px;
  width: 160px;
  padding: 0 8px;
  margin-left: 40em;
  color: #000000;
  font-size: 16px;
  font-variant: normal;
  line-height: normal;
  position: relative;
}

#form span {
  position: relative;
  display: block;
  text-align: center;
  font-style: italic;
  width: 160px;
  left: 20em;
  margin-top: 10em;
}

#form button:hover {
  background-color: aqua;
  cursor: pointer;
}

.error {
  font-size: 16px;
  color: red;
  position: relative;
  margin-left: 40em;
  margin-bottom: 1em;
}

#register-error {
  font-size: 24px;
  color: red;
  margin-left: 8em;
  margin-bottom: 1em;
}
