@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  width: 90%;
  margin: 0 5%;
  background-image: url('./img/GOPR4169.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
}

header {
  width: 90%;
  height: 90px;
  position: absolute;
}

#navigation {
  margin-top: -100px;
  width: auto;
  height: 100%;
  position: absolute;
}

#navigation h1 {
  margin-left: 3em;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  color: antiquewhite;
}

#navigation ul {
  margin: 0;
  margin-left: 5em;
  padding: 0;
  list-style: none;
}

#navigation ul li {
  padding: 4px;
  font-size: 26px;
  text-align: center;
  display: inline-block;
  background-color: rgba(225, 225, 225, 0.85);
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#navigation ul li div :hover {
  color: greenyellow;
}

#navigation ul li a {
  margin: 30px;
  text-decoration: none;
}

#login-form,
#search-form {
  float: right;
  width: 355px;
  position: absolute;
  margin-top: -100px;
  margin-left: 80em;
  background-color: rgba(225, 225, 225, 0.85);
  padding: 0 16px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

#search-form h2 {
  text-align: center;
  font-size: 22px;
}

#login-form form,
#search-form form {
  margin: 0;
  padding: 0;
}

#login-form form label,
#search-form form label {
  float: left;
  text-align: right;
  display: block;
  width: 80px;
  margin-top: 3px;
  margin-right: 10px;
}

#login-form button {
  height: 35px;
  width: 160px;
  margin-bottom: 8px;
  margin-left: 14.6em;
  cursor: pointer;
}

#login-form form input,
#search-form form input,
#search-form form select {
  float: right;
  height: 26px;
  width: 160px;
  padding: 0 8px;
  margin-bottom: 8px;
  margin-left: 4em;
  color: #000000;
  font-size: 16px;
  font-variant: normal;
  line-height: normal;
}

#login-form span {
  position: absolute;
  display: block;
  text-align: center;
  padding: 0 8px;
  margin-top: -2em;
  color: #000000;
  font-size: 16px;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: normal;
  font-style: italic;
  width: 160px;
  right: 14em;
}

main {
  border-radius: 16px;
  height: 80vh;
  width: 80vw;
  margin-top: 120px;
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-top: 40em;
  padding-bottom: 1em;
}

#profileNav {
  background-color: rgba(225, 225, 225, 0.85);
  width: 38px;
  height: 38px;
  border-radius: 8px;
  position: absolute;
}

#profileNav img {
  margin: 3.5px;
  border-radius: 2em;
  max-width: 31px;
  max-height: 31px;
  position: absolute;
}

.activeNav {
  background-color: grey;
  border-radius: 4px;
}
