.content {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(225, 225, 225, 0.2)
  );
  border-radius: 16px;
  color: white;
  height: 800px;
  width: 800px;
  margin-left: 0;
  margin-top: 8em;
  position: absolute;
  padding: 2px;
}

.canvas {
  display: absolute;
  width: 800px;
  height: 800px;
  position: absolute;
  background-color: rgba(225, 225, 225, 1);
  padding: 32px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 50px;
  margin-left: 6em;
  margin-top: 19em;
}

.overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 200%;
  height: 200%;
  z-index: 2;
  top: 0;
  margin-top: 0;
  position: fixed;
  transform: translate(-50%, -50%);
}

.exitButton {
  position: absolute;
  top: 100em;
  right: 25em;
}

.noOverflow{
  overflow: hidden;
}